<h1>MarkLogic Geonames</h1>
<div class="row">
  <div>
    <textarea class="form-control" rows="3" ng-model="model.text"></textarea>
    <select ng-model="model.code" ng-options="country.ISO as country.Country for country in model.countries"><option value="world">World</option></select>
    <button type="submit" class="btn btn-default" ng-click="search()">Submit</button>
  </div>
  <div>
    <div ng-bind-html="renderQuery()"></div>
    <div ng-repeat="result in model.search.summary['id-counts'].geonamegroup">
      <h4 ng-bind="result.querymatch"></h4>
      <div ng-repeat="match in result.geonameidlist.geoname">
        <div class="row">
          <div class="col-md-11 col-sm-offset-1"><span ng-repeat='name in match.names.name | filter:{tag: "main"}' ng-bind="name._value"></span>, <span ng-bind="match['feature-code'].name"></span></div>
        </div>
        <div class="row">
            <div class="small col-sm-10 col-sm-offset-2">
              <span ng-repeat="name in match.names.name">{{name._value}}, </span>
            </div>
        </div>
        <div class="row">
          <div class="small col-sm-10 col-sm-offset-2">
            <span ng-bind="match.Point.pos"></span>
          </div>
        </div>

      </div>

  </div>
</div>
